# Tuples

-> A tuple is similar to list

-> The difference between the two is that we can't change the elements of tuple once its assigned whereas in the list, elements can be changed

# Tuple creation

In [1]:
# empty tuple

t = ()

# tuple having integers
t = (1, 2, 3)
print(t)

# tuple with mixed datatypes
t = (1, 2, 5.4, False, 'abc')
print(t)

# nested tuple
t = ((1, 2), 3, 7, 9, [2, "AI", 6])
print(t)

(1, 2, 3)
(1, 2, 5.4, False, 'abc')
((1, 2), 3, 7, 9, [2, 'AI', 6])

In [2]:
t = ('vennela')
type(t)

str

In [3]:
t = ('vennela',)  # need to end with a comma if it has only one element.
type(t)

t1 = ('titili', 'babu') # If it has more than one element need not end with a comma.
type(t1)

tuple

In [4]:
t = 'vennela',   # parentheses is optional
print(type(t))
print(t)

<class 'tuple'>
('vennela',)

# Accessing elements in tuple

In [5]:
t = ("Amma", "Nana", "Babu", "Sreenu Mauya", "Tataji")
print(t[0])

Amma

In [6]:
print(t[-2])   # access last element - negative index

Sreenu Mauya

In [7]:
t = ((1, 2), ('Amma', 'Babu', 'Sreenu Mauya'))  # nested tuple
print(t[0])
print(t[1])
print(t[1][2])

(1, 2)
('Amma', 'Babu', 'Sreenu Mauya')
Sreenu Mauya

# Slicing

In [9]:
t = (1, 2, 3, 4, 5, 6, 7)
print(t[:2])

(1, 2)

In [10]:
print(t[1::2])

(2, 4, 6)

In [11]:
print(t[:-2])  # print elements from starting to 2nd last element

(1, 2, 3, 4, 5)

In [12]:
print(t[:]) # print all the elements from start to end

(1, 2, 3, 4, 5, 6, 7)

# Changing a tuple

unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. But if an element is mutable datatype like list, its nested items can be changed.

In [13]:
# creating tuple
t = (1, 2, 3, 4, [5, 7, 9])

t[2] = 'x'  # will get a TYPE ERROR

TypeError: 'tuple' object does not support item assignment

In [6]:
t[4][1] = 'vennela'
print(t)

(1, 2, 3, 4, [5, 'vennela', 9])

# Concatenating Tuple

In [14]:
t = (1, 2, 3) + ('Amma', 'Nana', 'Babu')
print(t)

(1, 2, 3, 'Amma', 'Nana', 'Babu')

# Repeat tuples for 'n' times

In [15]:
# repeat the elements in a tuple for a given number of times - use * operator
t = (('vennela',) * 7)
print(t)

('vennela', 'vennela', 'vennela', 'vennela', 'vennela', 'vennela', 'vennela')

In [16]:
t = (('vennela') * 7)
print(t)

vennelavennelavennelavennelavennelavennelavennela

# Tuple Deletion

We cannot change the elements in a tuple. 

This means we cannot delete / remove items from a tuple.

In [17]:
# del keyword - delete entire tuple at once 
t = (1, 2, 3, 4, 5)
del t

# Tuple Count

In [18]:
t = (1, 2, 5, 7, 9, 5, 2, 7, 2, 5)

t.count(7)  # gets the frequency of a particular element in a tuple

2

# Tuple Index

In [19]:
t = (1, 2, 5, 7, 9, 5, 2, 7, 2, 5)

t.index(7)  # returns the index of the first occurence of the element in the tuple

3

# Tuple Membership

In [20]:
t = (1, 2, 5, 7, 9)

print(7 in t)
print(10 in t)

True
False

# Built in Functions

<h3> Tuple Length </h3>

In [21]:
t = (1, 2, 5, 7, 9)

print(len(t))

5

<h3> Tuple Sort </h3>

In [22]:
t = (10, 4, 1, 6, 3)
new_tuple = sorted(t)
print(new_tuple)   # does not sort the tuple itself. Takes the elements in a tuple and returns a new sorted list

[1, 3, 4, 6, 10]

In [23]:
t = ('z', 'g', 'q', 'f', 'a')
new_t = sorted(t)
print(new_t)

['a', 'f', 'g', 'q', 'z']

<h3>Largest element in a tuple</h3>

In [24]:
t = (7, 5, 3, 97, 127, 1)
print(max(t))

127

<h3>Smallest element in a tuple</h3>

In [25]:
t = (7, 5, 3, 97, 127, 1)
print(min(t))

1

<h3> Sum of the elements in a tuple </h3>

In [26]:
t = (7, 5, 3, 97, 127, 1)
print(sum(t))

240